:root {
  --color-text: #68727d;
  --font-family: "DM Sans", sans-serif;
}

* {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color-scheme: light;
  background-color: #f9f9f9;
  min-height: 100vh;
}

#root {
  height: 100vh;
}
